h1 {
    color: #3E81E4;
    display: inline;
}

h2 {
    font-size: 1em;
    color: #333333;
    font-weight: normal;
}

a {
    color: #35609F;
    text-decoration: none;
}

.row {
    color: #EEEEEE;
    display: block;
    font-size: 110%;
    padding: 1.2em 0.8em;
}

.purple.row {
    background-color: #9e89b9;
}

.green.row {
    background-color: #80af7d;
}

.blue.row {
    background-color: #689ada;
}

.contact {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
