h1 {
    color: #3E81E4;
    display: inline;
}

h2 {
    font-size: 1em;
    color: #333333;
    font-weight: normal;
}

a {
    color: #35609F;
    text-decoration: none;
}

.row {
    color: #EEEEEE;
    display: block;
    font-size: 110%;
    padding: 1.2em 0.8em;
}

.purple.row {
    background-color: #721D88;
}

.green.row {
    background-color: #0BA06A;
}

.blue.row {
    background-color: #4194FF;
}

.contact {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
